[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==4.2.16"
gunicorn = "*"
"beautifulsoup4" = "*"
psycopg2-binary = "*"
requests = "*"
mozilla-django-oidc = "==4.0.1"

[dev-packages]

ipython = "*"
