{% extends 'base.html' %}

{% block title %}Django-App{% endblock %}
{% block navbar_home %}active{% endblock %}

{% block content %}
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="jumbotron">
    <h1>Welcome to Django-App</h1>
    <p>
    Test Django container for clinical dashboards
    </p>
    {% if not user.is_authenticated %}
      <a class="btn btn-default" href="{% url "signin" %}">Sign-in</a>
      <a class="btn btn-success" href="{% url "signup" %}">Sign-up</a>
    {% else %}
      <a class="btn btn-primary" href="{% url "signout" %}">Sign-out</a>
    {% endif %}
  </div>
{% endblock %}
